@{
    ViewData["Title"] = "Home Page";
}

@using TomiSoft.ProductCatalog.BusinessModels
@using TomiSoft.ProductCatalog.WebUI.Extensions

<script type="text/javascript">
    function addWebsite(id) {
        var url = prompt("Weblap címe:");
        if (url != null)
            window.location.href = `Manufacturer/AddWebsiteUrl?id=${id}&url=${encodeURI(url)}`;
    }

    function uploadCompanyLogo(id) {
        document.frmUploadCompanyLogo.id.value = id;
        document.frmUploadCompanyLogo.logo.click();
    }
</script>

<form method="post" name="frmUploadCompanyLogo" action="/Manufacturer/AddCompanyLogo" enctype="multipart/form-data" style="display: none;">
    <input type="file" name="logo" onchange="document.frmUploadCompanyLogo.submit();"/>
    <input type="hidden" name="id" />
</form>

<h1 class="display-4">Gyártók</h1>

<form method="post" action="Manufacturer/AddManufacturer" enctype="multipart/form-data">
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th>Gyártó neve</th>
                    <th>Ország</th>
                    <th>Cím</th>
                    <th>Webcím</th>
                    <th>Logó</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="name" /></td>
                    <td><input type="text" name="countrycode" /></td>
                    <td><input type="text" name="address" /></td>
                    <td><input type="url" name="website_url" /></td>
                    <td><input type="file" name="logo" /></td>
                    <td><input type="submit" value="Mentés" class="btn btn-sm btn-primary" /></td>
                </tr>

                @{
                    foreach (ManufacturerBM m in ViewBag.Manufacturers) {
                        <tr>
                            <td>@m.Name</td>
                            <td>@m.Location.GetCountryDisplayName()</td>
                            <td>@m.Location.Address</td>
                            <td>
                                @if (m.WebsiteUri == null) {
                                    @:<a href="javascript:addWebsite(@m.ManufacturerId)">Webcím megadása</a>
                                }
                                else {
                                    @:<a href="@m.WebsiteUri">@m.WebsiteUri</a>
                                }
                            </td>
                            <td>
                                @if (m.Logo == null) {
                                    @:<a href="#" onclick="uploadCompanyLogo(@m.ManufacturerId)" class="btn btn-sm btn-light">Logó feltöltése</a>
                                }
                                else {
                                    @:<a href="Manufacturer/GetCompanyLogo?id=@m.ManufacturerId">Megtekintés</a>
                                }
                            </td>
                            <td>
                                <a href="Manufacturer/Delete?id=@m.ManufacturerId" class="btn btn-sm btn-danger">Törlés</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </p>
</form>
